* {
      padding: 0;
      margin: 0;
      box-shadow: 0;
}

body {
      font-family: 'Poppins', sans-serif;
}

.nav-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      /* box shadow code */
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.menu {
      display: flex;
      column-gap: 20px;
}

.menu-list a {
      text-decoration: none;
      color: #1D232C;
}

.menu-list a:hover {
      text-decoration: underline;
      color: #1D232C;
      cursor: pointer;
}
/* icon */
.nav-menu {
      display: none;
}

/* side menu */
.side-bar{
      background-color: #1D232C;
      width:50% ;
      height: 100%;
      position: fixed;
      top: 0px;
      left: -60%;
      padding: 20px;
      color: white;
      transition:2s;
      /* display: none; */
}
.side-menu-list {
      margin-bottom: 32px;
}
.side-menu-list a{
      text-decoration: none;
      color: white;
}
.side-menu-list a:hover{
      text-decoration: underline;
}
/* icon position change */
.para{
      text-align: right;
}

/* footer */

.footer{
      margin-top: 20px;
      padding: 40px;
      background-color: #1D232C;
      color: white;
}

/* form */

.form{
      max-width: 700px;
      margin: 0 auto;
      padding: 70px 100px 70px 70px;
      color: white;
      background-color: #1D232C;
      border-radius: 5px;
      margin-top: 20px;
      justify-content: space-around;
      /* display: flex; */
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#name,#email,#message{
      width: 700px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px; 
}

label {
      display: block;
      font-weight: bold;
      margin-top: 20px;
}

#btn{
      background-color: blue;
      color: white;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      margin-top: 10px;
}

/* media query for menu-items */

@media screen and (max-width:700px) {
      .nav-menu {
            display: block;
      }
      .menu-list{
            display: none;
      }
      .form{
            flex-direction: column;
      }
      #name,#email,#message{
            width:350px ;
      }
}
