* {
      padding: 0;
      margin: 0;
      box-shadow: 0;
}

body {
      font-family: 'Poppins', sans-serif;
}

.nav-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      /* box shadow code */
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.menu {
      display: flex;
      column-gap: 20px;
}

.menu-list a {
      text-decoration: none;
      color: #1D232C;
}

.menu-list a:hover {
      text-decoration: underline;
      color: #1D232C;
      cursor: pointer;
}
/* icon */
.nav-menu {
      display: none;
}

/* side menu */
.side-bar{
      background-color: #1D232C;
      width:50% ;
      height: 100%;
      position: fixed;
      top: 0px;
      left: -60%;
      padding: 20px;
      color: white;
      transition:2s;
      /* display: none; */
}
.side-menu-list {
      margin-bottom: 32px;
}
.side-menu-list a{
      text-decoration: none;
      color: white;
}
.side-menu-list a:hover{
      text-decoration: underline;
}
/* icon position change */
.para{
      text-align: right;
}

/* header */

.header{
      display: flex;
      justify-content:center;
      gap: 50px;
      padding: 50px;
}
.header-button{
      padding-left: 20px;
      padding-right: 20px;
      padding-top:10px;
      padding-bottom: 10px;
      background-color: #1D232C;
      color: white;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 10px;
}

/* services */

.services{
      padding: 20px;
}

.service-continer1{
      display: flex;
      justify-content: space-between;
}

.service-continer2{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
}

.service-continer2 div{
      background-color: lavender;
      border-radius: 5px;
      padding: 10px;
}

/* new arrival */

.new-arrival,.most-wanted{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 20px;
}

.new-arrival-container,.most-wanted-container{
      position: relative;
      flex-basis: 20%;
}

.new-arrival-button,.most-wanted-button{
      padding-left: 10%;
      padding-right: 10%;
      padding-top:5%;
      padding-bottom:5%;
      margin-top: 10px;
      color: #1D232C;
      position: absolute;
      top: 50%;
      left: 6%;
      border-radius: 10px;
      border: none;
}

/* news */

.news{
      display: flex;
      flex-direction: column;
      align-items: center;
}

.news input{
      padding: 12px;
      width: 80vw;
      margin-bottom: 10px;
      border: solid black 3px;
}

.news button{
      margin-top: 10px;
      color: white;
      background-color: #1D232C;
      border-radius: 10px;
      padding: 10px;
}

/* footer */

.footer{
      margin-top: 20px;
      padding: 40px;
      background-color: #1D232C;
      color: white;
}

/* product */

.product-section{
      margin-top: 20px;
}

.product-search{
      width: 80%;
      border: solid black 2px;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin: auto;
}

.product-search input{
      border: none;
      background-color: transparent;
      width: 100%;
}

.product-search input:focus{
      outline: none;
}

.products{
      display: flex;
      padding: 20px;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: space-around;
}

.product-box{
      text-align: center;
      flex-basis: 20%;
}

.product-box img{
      border-radius: 10px;
}

/* media query for menu-items */

@media screen and (max-width:700px) {
      .nav-menu {
            display: block;
      }
      .menu-list{
            display: none;
      }
      .header-image{
            display: none;
      }
      .service-continer1{
            display: none;
      }
      .service-continer2{
            flex-direction: column;
      }
}
